common/src/main/resources/fileservice.wsdl

<wsdl:definitions
        name="XroadFileService"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
        xmlns:tns="http://vrk.fi/xroad/fileservice"
        targetNamespace="http://vrk.fi/xroad/fileservice">

    <wsdl:types xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
                   elementFormDefault="qualified"
                   targetNamespace="http://vrk.fi/xroad/fileservice"
                   version="1.0">
            <xs:import namespace="http://www.w3.org/2005/05/xmlmime"
                       schemaLocation="http://www.w3.org/2005/05/xmlmime.xsd"/>
            <xs:import namespace="http://x-road.eu/xsd/xroad.xsd"
                       schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>

            <xs:complexType name="GetRequestType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="GetResponseType">
                <xs:sequence>
                    <xs:element name="object" minOccurs="0" type="xs:base64Binary"
                                xmime:expectedContentTypes="application/octet-stream"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PutRequestType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="object" minOccurs="0" type="xs:base64Binary"
                                xmime:expectedContentTypes="application/octet-stream"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PutResponseType">
                <xs:sequence>
                    <xs:element name="success" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ListResponseType">
                <xs:sequence>
                    <xs:element name="name" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ErrorResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="error" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="get" type="tns:GetRequestType"/>
            <xs:element name="getResponse" type="tns:GetResponseType"/>
            <xs:element name="put" type="tns:PutRequestType"/>
            <xs:element name="putResponse" type="tns:PutResponseType"/>
            <xs:element name="list">
                <xs:complexType />
            </xs:element>
            <xs:element name="listResponse" type="tns:ListResponseType"/>
            <xs:element name="errorResponse" type="tns:ErrorResponseType"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="headers">
        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>

    <wsdl:message name="get">
        <wsdl:part element="tns:get" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="getResponse">
        <wsdl:part element="tns:getResponse" name="payload"/>
    </wsdl:message>

    <wsdl:message name="put">
        <wsdl:part element="tns:put" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="putResponse">
        <wsdl:part element="tns:putResponse" name="payload"/>
    </wsdl:message>

    <wsdl:message name="list">
        <wsdl:part element="tns:list" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="listResponse">
        <wsdl:part element="tns:listResponse" name="payload"/>
    </wsdl:message>

    <wsdl:message name="errorResponse">
        <wsdl:part name="fault" element="tns:errorResponse"/>
    </wsdl:message>

    <wsdl:portType name="XroadFileService">
        <wsdl:operation name="get">
            <wsdl:input message="tns:get" name="get">
            </wsdl:input>
            <wsdl:output message="tns:getResponse" name="getResponse">
            </wsdl:output>
            <wsdl:fault name="errorResponse" message="tns:errorResponse"/>
        </wsdl:operation>
        <wsdl:operation name="put">
            <wsdl:input message="tns:put" name="put">
            </wsdl:input>
            <wsdl:output message="tns:putResponse" name="putResponse">
            </wsdl:output>
            <wsdl:fault name="errorResponse" message="tns:errorResponse"/>
        </wsdl:operation>
        <wsdl:operation name="list">
            <wsdl:input message="tns:list" name="list">
            </wsdl:input>
            <wsdl:output message="tns:listResponse" name="listResponse">
            </wsdl:output>
            <wsdl:fault name="errorResponse" message="tns:errorResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="XroadFileServiceSoapBinding" type="tns:XroadFileService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="get">
                <soap:body use="literal"/>
                <soap:header message="tns:headers" part="client" use="literal"/>
                <soap:header message="tns:headers" part="service" use="literal"/>
                <soap:header message="tns:headers" part="userId" use="literal"/>
                <soap:header message="tns:headers" part="id" use="literal"/>
                <soap:header message="tns:headers" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getResponse">
                <soap:body parts="payload" use="literal"/>
                <soap:header message="tns:headers" part="client" use="literal"/>
                <soap:header message="tns:headers" part="service" use="literal"/>
                <soap:header message="tns:headers" part="userId" use="literal"/>
                <soap:header message="tns:headers" part="id" use="literal"/>
                <soap:header message="tns:headers" part="protocolVersion" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="errorResponse">
                <soap:fault name="errorResponse" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="put">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="put">
                <soap:body use="literal"/>
                <soap:header message="tns:headers" part="client" use="literal"/>
                <soap:header message="tns:headers" part="service" use="literal"/>
                <soap:header message="tns:headers" part="userId" use="literal"/>
                <soap:header message="tns:headers" part="id" use="literal"/>
                <soap:header message="tns:headers" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="putResponse">
                <soap:body parts="payload" use="literal"/>
                <soap:header message="tns:headers" part="client" use="literal"/>
                <soap:header message="tns:headers" part="service" use="literal"/>
                <soap:header message="tns:headers" part="userId" use="literal"/>
                <soap:header message="tns:headers" part="id" use="literal"/>
                <soap:header message="tns:headers" part="protocolVersion" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="errorResponse">
                <soap:fault name="errorResponse" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="list">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="list">
                <soap:body use="literal"/>
                <soap:header message="tns:headers" part="client" use="literal"/>
                <soap:header message="tns:headers" part="service" use="literal"/>
                <soap:header message="tns:headers" part="userId" use="literal"/>
                <soap:header message="tns:headers" part="id" use="literal"/>
                <soap:header message="tns:headers" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="listResponse">
                <soap:body parts="payload" use="literal"/>
                <soap:header message="tns:headers" part="client" use="literal"/>
                <soap:header message="tns:headers" part="service" use="literal"/>
                <soap:header message="tns:headers" part="userId" use="literal"/>
                <soap:header message="tns:headers" part="id" use="literal"/>
                <soap:header message="tns:headers" part="protocolVersion" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="errorResponse">
                <soap:fault name="errorResponse" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="XroadFileService">
        <wsdl:port binding="tns:XroadFileServiceSoapBinding" name="XroadFileServicePort">
            <soap:address location="http://localhost:8080/fileservice"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
